/* app css stylesheet */
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
section[id] {
  padding-top: 60px;
  margin-top: -60px;
}