<div class="dots" ng-hide="loaded" style="position:absolute;left:50%;top:50%">
    Loading
</div>
<div class="table-responsive" ng-show="loaded">
  <h1>Basic Analysis - Total and average loan amount by country</h1>
  <table id="loanAmount" class="table table-bordered">
    <tr>
      <th>Country</th>
      <th>Loan count</th>
      <th>Total loan amount</th>
      <th>Average loan amount(Rounded to 2 decimal places)</th>
    </tr>
    <tr class="info" ng-repeat="row in rows">
      <td>{{row._id}}</td>
      <td>{{row.loanCount}}</td>
      <td>{{row.totalLoan}}</td>
      <td>{{row.averageLoan.toFixed(2)}}
    </tr>
  </table>
</div>